@using System.Security.Cryptography
@model Post

@{
    ViewBag.Title = Model.Title;
    ViewBag.Description = Model.Description;
    ViewBag.Keywords = $"{Model.Tags?.Replace(",", "")} {Model.Category}";
}

<h2>
    @Model.Title
</h2>

@if (!
  (Model.Image is null)
  )
{
    var imagePath = $"/Image/{Model.Image}";

    <img src="@imagePath" />
}

<h3>
    @Html.Raw(Model.Body)
</h3>
@{
    await Html.RenderPartialAsync("_MainComment", new CommentViewModel { PostId = Model.Id, MainCommentId = 0 });
}

@foreach (var c in Model.MainComments)
{
    <p>@c.Message - @c.CreatedAt</p>
    <h4>SubComment</h4>
    await Html.RenderPartialAsync("_SubComment", new CommentViewModel { PostId = Model.Id, MainCommentId = c.Id });


    @foreach (var s in c.SubComments)
    {
        <p>@s.Message - @s.CreatedAt</p>
    }
}